body {
    margin: 0;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.video-list-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.video-list {
    list-style: none;
    display: flex;
    gap: 5px;
    overflow-x:auto;
    padding: 40px calc(-19vh + 50vw)
}

.video-list-item {
    position: relative;
    cursor:pointer;
}

.video-list-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3.6vh;
    color: white;
    line-height: 1.2;
    font-weight: 700;
    white-space: pre-line;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
